@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root{
    /* Colors Primary */
    --soft-cyan-full-slider-bar: hsl(174, 77%, 80%);
    --strong-cyan-slider-background: hsl(174, 86%, 45%);
    --slider-circle-active: hsl(174, 87%, 35%);
    --light-grayish-red-discount-background: hsl(14, 92%, 95%);
    --light-red-discount-text: hsl(15, 100%, 70%);
    --pale-blue-CTA-text: hsl(226, 100%, 87%);
    /* Colors Neutral */
    --white-pricing-component-background: hsl(0, 0%, 100%);
    --very-pale-blue-main-background: hsl(230, 100%, 99%);
    --light-grayish-blue-empty-slider-bar: hsl(224, 65%, 95%);
    --light-grayish-blue-toggle-background: hsl(223, 50%, 87%);
    --grayish-blue-text: hsl(225, 20%, 60%);
    --dark-desaturated-blue-text-CTA-background: hsl(227, 35%, 25%);
}

body{
    background: url(./images/bg-pattern.svg) no-repeat;
}

header{
    display: grid;
    justify-content: center;
}

header{
    background: url(./images/pattern-circles.svg) no-repeat center;
    padding: 3rem 0;
}

header p{
    padding: 0 8rem;
}

header h1{
    font-size: 1.5rem;
    line-height: 4rem;
}

header,.title-info-card,footer{
    text-align: center;
}

main{
    border-radius: 10px;
    padding: 2rem 0;
    box-shadow: 0 1rem 1.5rem var( --light-grayish-blue-empty-slider-bar);
    margin: 1rem 2rem;
    background-color: var(--white-pricing-component-background);
}

.column-1,.column-2{
    display: grid;
    place-items: center;
    padding: 2rem;
}

.column-1{
    border-bottom: 1px solid var(--light-grayish-blue-empty-slider-bar);
}

.btn-start-trial:hover{
    color: var(--white-pricing-component-background);
    cursor: pointer;
}

.column-1 #bar-progress{
    display: flex;
    align-items: center;
    width: 100%;
    height: 0.6rem;
    margin: 3rem 0;
    border-radius: 10px;
    cursor: pointer;
    appearance: none;
    background-color: var(--light-grayish-blue-empty-slider-bar);
}

.column-1 #bar-progress::before{
    content: '';
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--soft-cyan-full-slider-bar);
}

/* .column-1 #bar-progress::after{
    content: '';
    border-radius: 50%;
    padding: 1.5rem;
    position: relative;
    right: 40%;
    background: url(./images/icon-slider.svg) no-repeat center var(--strong-cyan-slider-background);
    box-shadow: 1px 10px 30px 10px var(--soft-cyan-full-slider-bar);
} */

#bar-progress::-webkit-slider-runnable-track {
    background: var(--clr-empty-slider-bar);
    height: .5rem;
    border-radius: 1rem;
}
  
#bar-progress:focus::-webkit-slider-runnable-track{
    border: none;
}
  
#bar-progress::-moz-range-track{
    background: var(--clr-empty-slider-bar);
    height: .5rem;
    border-radius: 1rem;
}
  
/*Thumb / Slider */
  
#bar-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--strong-cyan-slider-background);
    background-image: url("./images/icon-slider.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 2rem;
    width: 2rem;
    padding: 1.2rem;
    margin-top: -15px;
    border-radius: 50%;
    box-shadow: 0 .5rem 2rem var(--clr-slider-circle);
}
  
#bar-progress:hover::-webkit-slider-thumb {
    background-color: var(--clr-slider-circle-active);
}
  
#bar-progress:active::-webkit-slider-thumb {
    cursor: grabbing;
    background-color: var(--clr-slider-circle-active);
}
  
#bar-progress::-moz-range-thumb {
    border: none;
    border-radius: 50%;
    background-color: var(--slider-circle-active);
    background-image: url("./images/icon-slider.svg");
    background-position: center;
    background-repeat: no-repeat;
    height: 2rem;
    width: 2rem;
    box-shadow: 0 .5rem 2rem var(--clr-slider-circle);
}
  
#bar-progress:active::-moz-range-thumb {
    cursor: grabbing;
    background-color: var(--slider-circle-active);
    opacity: 1;
}

.column-1 p:not(.title-info-card){
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--grayish-blue-text);
}

.column-1 p .price-by-month{
    font-size: 2rem;
    color: black;
    font-weight: bold;
}

.rows-info2-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.rows-info2-card .discount span,.button-toggle{
    display: none;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    display: grid;
    place-items: center;
}

.button-toggle + label{
    width: 45px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    background-color: var(--light-grayish-blue-toggle-background);
    cursor: pointer;
    padding: 5px;
    transition: all 0.3s ease-in;
}

.button-toggle + label:hover{
    background-color: var(--soft-cyan-full-slider-bar);
}

.button-toggle + label::before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    inset: 2.5px 4px;
    background-color: var(--white-pricing-component-background);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.button-toggle:checked + label{
    background: var(--strong-cyan-slider-background);
}

.button-toggle:checked + label::before{
    background-color: var(--white-pricing-component-background);
    left: calc(100% - 20px);
}

.discount{
    font-weight: 800;
    font-size: 0.8em;
    border-radius: 20px;
    color: var(--light-red-discount-text);
    background-color: hsla(15, 100%, 70%, 0.15);
    padding: 5px 12px;
}

figure{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0;
}

header p,figure figcaption,.text-info2-card{
    color: var(--grayish-blue-text);
}

button,input{
    border: none;
    outline: none;
}

.btn-start-trial{
    width: 60%;
    padding: 1rem;
    border-radius: 30px;
    font-weight: 800;
    margin: 3rem 0 0;
    color: var(--light-grayish-blue-toggle-background);
    background-color: var(--dark-desaturated-blue-text-CTA-background);
}

footer{
    margin: 1rem 0;
}

footer a{
    color: var(--strong-cyan-slider-background);
}

@media (min-width:880px){
    header h1{
        font-size: 2rem;
    }

    main{
        width: 60%;
        margin: 0 auto;
    }

    .column-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4rem;
    }

    ul{
        place-items: initial;
    }

    .rows-info2-card .discount span{
        display: inline-block;
    }

    .btn-start-trial{
        width: 40%;
    }
}